---
title: <%= t(:title) %>
---

<h1>
  <%= t(:title) %>
</h1>

<p>
  <small>
    <%= t(:no_internet) %> |
    <%= t(:no_sms) %> |
    <%= t(:no_calls) %>
  </small>
</p>

<h2><%= t(:install) %></h2>

<p class="intro">
  <%= t(:intro) %>
</p>

<p class="install_steps">
</p>

<p>
  <%= t(:bluetooth) %>
  <br>
  <%= t(:troubleshoot) %>
  <ul>
    <li><%= t(:airplane) %></li>
    <li><%= t(:battery) %></li>
    <li><%= t(:restart) %></li>
  </ul>
</p>

<h3><%= t(:aware) %></h3>
<ul>
  <li><%= t(:privacy) %></li>
  <li><%= t(:verify) %></li>
  <li><%= t(:delay) %></li>
</ul>

<hr>

<h2><%= t(:remember) %></h2>
<ul>
  <li><%= t(:charge) %></li>
  <li><%= t(:power_bank) %></li>
  <li><%= t(:chargers) %></li>
  <li><%= t(:recharge) %></li>
  <li><%= t(:location) %></li>
  <li><%= t(:video) %></li>
</ul>

<hr>

<p class="outro"><%= t(:outro) %></p>
