<div class="languages">
  <%
    languages = ["हिन्दी", "ಕನ್ನಡ", "Nagamese", "Konkani", "ਪੰਜਾਬੀ", "বাংলা"]
    code = ["hi","kn", "nag", "kok", "pa", "bn"]
  %>
  <%=t(:available)%>
  <br>
  <ul>
    <li><a href="/">English</a></li>
    <% languages.each_with_index { |l,i| %>
      <li>
        <a href="/<%= code[i] %>/">
          <%= l %>
        </a>
      </li>
    <% } %>
  </ul>

  <br><br>
  <%= t(:download) %>
  <br>
  <ul>
    <li><a href="/images/poster-en.png">English</a></li>
    <% languages.each_with_index { |l,i| %>
      <li>
        <a href="/images/poster-<%= code[i] %>.png">
          <%= l %>
        </a>
      </li>
    <% } %>
  </ul>
</div>
